<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <title>Spiritual Disciplines | Flatland Church</title>
    <link rel="shortcut icon" href="https://flatlandchurch.com//fl_glyph_favicon.ico" />
    <link rel="stylesheet" href="/style.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script async defer src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
    <noscript><img src="https://queue.simpleanalyticscdn.com/noscript.gif" alt=""></noscript>
</head>
<body>
<div id="app">
    <a href="/#/character" style="margin-top: 24px; display: block">Checkout the Transformation Matrix</a>
    <div class="category active disciplines-app">
        <%- content %>
    </div>
</div>
<footer>
    &copy; <%= year %> • v<%= version %>
</footer>
</body>
</html>
